/** Responsive Mobile Layout: 480px and below. */
@media only screen and (max-width:480px) {
.login, .register, .forgot {font-size:0.8rem; margin:10px auto; padding:20px; background:#DADADA; border-radius:5px; max-width:250px; position:relative;}
.form-wrapper {text-align:center; background:#EAEAEA; border-radius:2px; margin:5px auto; position:relative; max-width:200px;}
.form-item input {border:none; background:#FFFFFF; border-radius:2px; color:#000000; font-family:'Open Sans', sans-serif; font-size:1rem; height:30px; padding:2px; width:100%;}
.button-panel .button {background:#A2CD5A; outline-color:#7AA21B; border:none; border-radius:2px; color:#fff; cursor:pointer; height:30px; font-family:'Open Sans', sans-serif; font-size:1.2rem; letter-spacing:0.05rem; text-align:center; text-transform:uppercase; width:100%;}
.sidebar-wrapper2 {width:50%; float:left;}
.new-topics-header, .new-posts-header {background:#DADADA; color:#7AA21B; font-size:0.8rem; padding:5px; border:1px solid #DADADA;}
.new-topics, .new-posts {background:#FFFFFF; font-size:0.8rem; color:#408080; word-wrap:break-word; padding:5px; border:1px solid #DADADA; border-top:none;}
.new-topics-header {margin:10px 5px 0px 0px;}
.new-posts-header {margin:10px 0px 0px 5px;}
.new-topics {margin:0px 5px 0px 0px;}
.new-posts {margin:0px 0px 0px 5px;}
.topic-content-left, .private-content-left {background:#EAEAEA; color:#408080; font-size:0.8rem; text-align:left; padding:8px; border:1px solid #DADADA; border-bottom:transparent;}
.topic-content-left .user-img-div, .private-content-left .user-img-div {display:none;}
.topic-content-left .user-stats-div, .private-content-left .user-stats-div {display:none;}
.topic-content-right, .private-content-right {background:#FFFFFF; color:#408080; font-size:0.8rem; word-wrap:break-word; vertical-align:top; padding:5px; border:1px solid #DADADA;}
.codebox {font-family:"American Typewriter", "Courier New", Courier, Monaco, mono; text-align:left; word-break:break-all; overflow:auto; background:#EAEAEA; font-size:0.5rem; min-width:1px; max-width:90%; min-height:1px; max-height:150px; margin:10px; padding:3px; border-radius:6px; box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);}
.cpanel-left {width:100%;}
.cpanel-right {width:100%;}
.private-nav-header, .staff-cpanel-nav-header {background:#DADADA; color:#7AA21B; font-size:0.8rem; padding:5px; border:1px solid #DADADA;}
.private-nav-content, .staff-cpanel-nav-content {background:#FFFFFF; text-align:left; font-size:0.8rem; color:#408080; word-wrap:break-word; padding:5px; margin:0px 0px 10px auto; border:1px solid #DADADA; border-top:none;}
.private-nav-content ul, .staff-cpanel-nav-content ul {font-size:0.75rem; text-align:left; list-style:none; list-style-image:none; padding:0; margin:0;}
.private-nav-content ul li, .staff-cpanel-nav-content ul li {display:inline-block; margin:0px 5px 0px 0px;}
}

/** Responsive Tablet Layout: 481px to 768px. */
@media only screen and (min-width:481px) and (max-width:768px) {
.login, .register, .forgot {font-size:0.8rem; margin:10px auto; padding:20px; background:#DADADA; border-radius:5px; max-width:300px; position:relative;}
.form-wrapper {text-align:center; background:#EAEAEA; border-radius:2px; margin:10px auto; position:relative; max-width:250px;}
.form-item input {border:none; background:#FFFFFF; border-radius:2px; color:#000000; font-family:'Open Sans', sans-serif; font-size:1rem; height:40px; padding:0 16px; width:100%;}
.button-panel .button {background:#A2CD5A; outline-color:#7AA21B; border:none; border-radius:2px; color:#fff; cursor:pointer; height:40px; font-family:'Open Sans', sans-serif; font-size:1.2rem; letter-spacing:0.05rem; text-align:center; text-transform:uppercase; width:100%;}
.sidebar-wrapper2 {width:50%; float:left;}
.new-topics-header, .new-posts-header {background:#DADADA; color:#7AA21B; font-size:0.8rem; padding:5px; border:1px solid #DADADA;}
.new-topics, .new-posts {background:#FFFFFF; font-size:0.8rem; color:#408080; word-wrap:break-word; padding:5px; border:1px solid #DADADA; border-top:none;}
.new-topics-header {margin:10px 5px 0px 0px;}
.new-posts-header {margin:10px 0px 0px 5px;}
.new-topics {margin:0px 5px 0px 0px;}
.new-posts {margin:0px 0px 0px 5px;}
.topic-content, .private-content {display:table; width:100%;}
.topic-content-left, .private-content-left {display:table-cell; width:15%; background:#EAEAEA; color:#408080; font-size:0.8rem; text-align:center; padding:15px; border:1px solid #DADADA; border-right:transparent;}
.topic-content-right, .private-content-right {display:table-cell; width:85%; background:#FFFFFF; color:#408080; font-size:0.8rem; word-wrap:break-word; vertical-align:top; padding:5px; border:1px solid #DADADA;}
.codebox {font-family:"American Typewriter", "Courier New", Courier, Monaco, mono; text-align:left; word-break:break-all; overflow:auto; background:#EAEAEA; font-size:0.7rem; min-width:1px; max-width:90%; min-height:1px; max-height:200px; margin:10px; padding:3px; border-radius:6px; box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);}
.cpanel-left {width:100%;}
.cpanel-right {width:100%;}
.private-nav-header, .staff-cpanel-nav-header {background:#DADADA; color:#7AA21B; font-size:0.8rem; padding:5px; border:1px solid #DADADA;}
.private-nav-content, .staff-cpanel-nav-content {background:#FFFFFF; text-align:left; font-size:0.8rem; color:#408080; word-wrap:break-word; padding:5px; margin:0px 0px 10px auto; border:1px solid #DADADA; border-top:none;}
.private-nav-content ul, .staff-cpanel-nav-content ul {font-size:0.75rem; text-align:left; list-style:none; list-style-image:none; padding:0; margin:0;}
.private-nav-content ul li, .staff-cpanel-nav-content ul li {display:inline-block; margin:0px 5px 0px 0px;}
}

/** Responsive Desktop Layout: 769px to a max of screen size. */
@media only screen and (min-width:769px) {
.login, .register, .forgot {font-size:0.8rem; margin:10px auto; padding:20px; background:#DADADA; border-radius:5px; max-width:350px; position:relative;}
.form-wrapper {text-align:center; background:#EAEAEA; border-radius:2px; margin:10px auto; position:relative; max-width:300px;}
.form-item input {border:none; background:#FFFFFF; border-radius:2px; color:#000000; font-family:'Open Sans', sans-serif; font-size:1rem; height:50px; padding:0 16px; width:100%;}
.button-panel .button {background:#A2CD5A; outline-color:#7AA21B; border:none; border-radius:2px; color:#fff; cursor:pointer; height:50px; font-family:'Open Sans', sans-serif; font-size:1.2rem; letter-spacing:0.05rem; text-align:center; text-transform:uppercase; width:100%;}
.forums-wrapper {text-align:left; width:70%; float:left;}
.sidebar-wrapper {text-align:left; width:30%; float:left;}
.new-topics-header, .new-posts-header {background:#DADADA; color:#7AA21B; font-size:0.8rem; padding:5px; margin:0px 0px 0px 10px; border:1px solid #DADADA;}
.new-topics, .new-posts {background:#FFFFFF; font-size:0.8rem; color:#408080; word-wrap:break-word; padding:5px; margin:0px 0px 0px 10px; border:1px solid #DADADA; border-top:none;}
.new-topics:last-of-type, .new-posts:last-of-type {margin:0px 0px 10px 10px;}
.topic-content, .private-content {display:table; width:100%;}
.topic-content-left, .private-content-left {display:table-cell; width:15%; background:#EAEAEA; color:#408080; font-size:0.8rem; text-align:center; padding:15px; border:1px solid #DADADA; border-right:transparent;}
.topic-content-right, .private-content-right {display:table-cell; width:85%; background:#FFFFFF; color:#408080; font-size:0.8rem; word-wrap:break-word; vertical-align:top; padding:5px; border:1px solid #DADADA;}
.codebox {font-family:"American Typewriter", "Courier New", Courier, Monaco, mono; text-align:left; word-break:break-all; overflow:auto; background:#EAEAEA; font-size:0.8rem; min-width:1px; max-width:90%; min-height:1px; max-height:250px; margin:10px; padding:3px; border-radius:6px; box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);}
.cpanel-left {width:20%; float:left;}
.cpanel-right {width:80%; float:left;}
.private-nav-header, .staff-cpanel-nav-header {background:#DADADA; color:#7AA21B; font-size:0.8rem; padding:5px; margin:0px 10px 0px auto; border:1px solid #DADADA;}
.private-nav-content, .staff-cpanel-nav-content {background:#FFFFFF; text-align:left; font-size:0.8rem; color:#408080; word-wrap:break-word; padding:5px; margin:0px 10px 10px auto; border:1px solid #DADADA; border-top:none;}
.private-nav-content ul, .staff-cpanel-nav-content ul {font-size:0.75rem; text-align:left; list-style:none; list-style-image:none; padding:0; margin:0; width:90%;}
.private-nav-content ul li, .staff-cpanel-nav-content ul li {margin:0px 0px 1px 0px;}
}

/** Non Responsive css layout */
* {margin:0; padding:0; box-sizing:border-box;}/* Simple Reset */
body {background:#F0F0F0; color:#408080; font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
a {color:#7AA21B;}

header {margin:8px auto 2px auto; width:90%;}
header .logo {width:50%; float:left;}
header .padder {height:0; clear:both;}

footer {background:#DADADA; border:1px solid #DADADA; width:90%; margin:10px auto 5px auto; padding:3px;}
.footer-left {float:left; width:50%;}
.footer-right {float:left; font-size:0.65rem; text-align:right; width:50%;}
footer .footer-right a {color:#7AA21B; font-size:0.65rem; text-decoration:none;}
footer .padder {height:0; clear:both;}

nav {background:#A2CD5A; border-top:1px solid #A2CD5A; border-bottom:1px solid #F0F0F0;}
nav ul {font-size:0.75rem; text-align:left; list-style:none; list-style-image:none; padding:0; margin:0px auto 0px auto; width:90%;}
nav ul li {display:inline-block; margin:10px 0px 7px 0px;}
nav ul li a { color:#7AA21B; background:#DADADA; border-top:1px solid #DADADA; border-left:1px solid #DADADA; border-right:1px solid #DADADA; border-top-left-radius:2px; border-top-right-radius:2px; text-decoration:none; padding:6px 8px 7px 8px;}
nav ul li a.active {color:#7AA21B; background:#F0F0F0; border-top:1px solid #F0F0F0; border-left:1px solid #F0F0F0; border-right:1px solid #F0F0F0; border-top-left-radius:2px; border-top-right-radius:2px; text-decoration:none; padding:6px 8px 9px 8px;}

.secondary-nav {width:90%; background:#FCF7D7; color:#000000; font-size:0.75rem; border:1px solid #E1D47E; border-radius:3px; margin:10px auto 10px auto; /**box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 0px 0 rgba(255,255,255,0.16);*/}
.secondary-nav div {padding:5px;}
.secondary-nav a {color:#000000; text-decoration:none;}

.wrapper {width:90%; margin:10px auto 0px auto;}
.wrapper .padder {height:0; clear:both;}
.register-header, .login-header, .forgot-header, .online-header, .topic-header, .reply-topic-header, .create-topic-header, .private-main-header, .private-compose-header, .staff-cpanel-main-header, .search-header {background:#DADADA; color:#7AA21B; font-size:0.8rem; padding:5px; border:1px solid #DADADA;}
.register-content, .login-content, .forgot-content, .online, .topic, .reply-topic-content, .create-topic-content, .private-main-content, .private-compose-content, .staff-cpanel-main-content, .search-content {background:#FFFFFF; text-align:center; font-size:0.8rem; color:#408080; word-wrap:break-word; padding:5px; border:1px solid #DADADA; border-top:none;}

.online-header {text-align:center;}
.online {text-align:left; min-height:50px;}

.form-wrapper form {text-align:left; padding:30px 20px 0;}
.form-item {margin-bottom:10px; width:100%;}
.form-item input:focus {background:#DADADA; color:#000000; outline:none;}
.button-panel {margin:15px 0 0; width:100%;}
.button-panel .button:hover {background:#7AA21B; cursor:pointer;}
.form-footer {font-size:0.9rem; padding:20px 0; text-align:center;}
.form-footer p {padding:0px 0px 7px 0px;}
.form-footer a {text-decoration:none;}
.form-footer a:hover {color:#3AA11A;}

.theme-option {width:100%; background:#FFFFFF; color:#408080; border:1px solid #3E3E3E; border-radius:2px; padding:2px;}
.theme-submit-btn {cursor:pointer; outline-color:#7AA21B; color:#408080; background:#FFFFFF; margin:0px auto; padding:1px 3px 1px 3px; border:1px solid #3E3E3E; border-left:none; border-radius:2px;}
.theme-submit-btn:hover {cursor:pointer; color:#7AA21B;}

.stats {font-size:0.7rem; color:#408080; margin:10px auto 10px auto; text-align:center;}
.stats-info {background:#FFFFFF; padding:2px 8px 2px 6px; margin-right:10px; border-radius:2px;}

.forums {background:#A2CD5A; color:#FFFFFF; font-size:0.8rem; border-radius:3px; margin:7px 0px 6px 0px; padding:5px; border:1px solid #A2CD5A;}
.forums:first-of-type {margin:0px 0px 6px 0px;}
.categories {display:table; width:100%; background:#FFFFFF; color:#408080; font-size:0.8rem; border:1px solid #DADADA; margin-bottom:-1px; padding:5px;}
.categories-left {display:table-cell; text-align:left; width:60%;}
.categories-center {display:table-cell; width:14%; text-align:right; vertical-align:middle; padding:0px 2px 0px 2px;}
.categories-right {display:table-cell; width:26%; padding:0px 0px 0px 10px; text-align:left; vertical-align:middle;}
.categories-right span {font-size:0.7rem;}

.category-header {background:#A2CD5A; color:#FFFFFF; font-size:0.8rem; border-radius:3px; margin:7px 0px 6px 0px; padding:5px; border:1px solid #A2CD5A;}
.category-header .padder {height:0; clear:both;}
.category-content {font-size:0.8rem; background:#FFFFFF; color:#408080; border:1px solid #DADADA; margin:0px auto 10px auto;}

.category, .search {display:table; width:100%;}
.category-row, .search-row {display:table-row;}
.category-cell-1, .search-cell-1 {display:table-cell; width:65%; padding:5px; border-bottom:1px solid #DADADA;}
.category-cell-1 span, .search-cell-1 span {font-size:0.9rem;}
.category-cell-2, .search-cell-2 {display:table-cell; width:15%; padding:5px; text-align:center; vertical-align:middle; border-bottom:1px solid #DADADA;}
.category-cell-3, .search-cell-3 {display:table-cell; width:10%; padding:5px; text-align:center; vertical-align:middle; border-bottom:1px solid #DADADA;}
.category-cell-4, .search-cell-4 {display:table-cell; width:10%; padding:5px; text-align:center; vertical-align:middle; border-bottom:1px solid #DADADA;}
.category-content-pagination, .search-content-pagination {clear:both; text-align:left; min-height:15px; margin:5px 0px 2px 2px;}

.category-create-topic-btn {cursor:pointer; background:none; border:0; color:#FFFFFF; text-decoration:none; font-size:0.8rem; float:right;}
.category-create-topic-btn:hover {cursor:pointer; color:#FFEE88;}

.topic-title {background:#A2CD5A; color:#FFFFFF; text-align:center; font-size:0.8rem; border-radius:3px; margin:7px 0px 6px 0px; padding:5px; border:1px solid #A2CD5A;}
.topic-content-header, .private-content-header {background:#DADADA; color:#7AA21B; font-size:0.7rem; margin:0px auto 0px auto; border:1px solid #DADADA; padding:5px; border-bottom:none;}
.topic-content-header span, .private-content-header span {font-size:0.7rem;}
.topic-content-footer, .private-content-footer {min-height:20px; background:#DADADA; color:#408080; font-size:0.7rem; margin:0px auto 10px auto; border:1px solid #DADADA; padding:5px; border-top:none;}
.topic-footer, .private-footer {text-align:left; min-height:20px; background:#DADADA; color:#408080; font-size:0.8rem; margin:0px auto 0px auto; border:1px solid #DADADA; padding:5px;}
.topic-footer-reply, .private-footer-reply {font-size:0.8rem; text-align:center; background:#FFFFFF; color:#408080; margin:10px auto 0px auto; padding:4px; border:1px solid #DADADA;}
.topic-footer-reply textarea, .private-footer-reply textarea {width:80%; height:150px; outline-color:#7AA21B; background:#FFFFFF; color:#408080; border:1px solid #DADADA; border-radius:2px; margin:0px auto 10px auto; padding:5px;}
.topic-footer-reply-btn, .private-footer-reply-btn {cursor:pointer; background:none; border:0; color:#7AA21B; margin:0px auto 10px auto; text-decoration:none; font-size:0.9rem;}

.staff-delete-btn {cursor:pointer; background:none; border:0; color:#7AA21B; text-decoration:none; font-size:0.7rem;}

.create-topic-input {width:80%; outline-color:#7AA21B; background:#FFFFFF; color:#408080; border:1px solid #DADADA; border-radius:2px; margin:0px auto 10px auto; padding:5px;}
.create-topic-textarea {width:80%; height:150px; outline-color:#7AA21B; background:#FFFFFF; color:#408080; border:1px solid #DADADA; border-radius:2px; margin:0px auto 10px auto; padding:5px;}
.create-topic-btn {cursor:pointer; background:none; border:0; color:#7AA21B; margin:0px auto 5px auto; text-decoration:none; font-size:0.9rem;}

.private-main-content {text-align:left;}
.private-main-content span {font-size:0.7rem;}
.private-main-footer {font-size:0.8rem; background:#DADADA; color:#408080; min-height:20px; border:1px solid #DADADA; text-align:left; margin:0px auto 0px auto; padding:5px; border-top:none;}

.private-compose-input {width:80%; outline-color:#7AA21B; background:#FFFFFF; color:#408080; border:1px solid #DADADA; border-radius:2px; margin:0px auto 10px auto; padding:5px;}
.private-compose-textarea {width:80%; outline-color:#7AA21B; height:150px; background:#FFFFFF; color:#408080; border:1px solid #DADADA; border-radius:2px; margin:0px auto 10px auto; padding:5px;}
.private-compose-btn {cursor:pointer; background:none; border:0; color:#7AA21B; margin:5px auto 5px auto; text-decoration:none; font-size:0.9rem;}
.private-delete-btn {cursor:pointer; background:none; border:0; color:#7AA21B; text-decoration:none; font-size:0.7rem;}
.private-announcement {margin:5px auto -5px auto; text-align:center; font-size:0.8rem;}

.staff-cpanel-main-content table {width:100%;}
.staff-cpanel-main-content .td1 {text-align:left; width:35%; padding:2px;}
.staff-cpanel-main-content .td2 {text-align:left; width:65%; padding:2px;}
.staff-site-config-input {width:90%; outline-color:#7AA21B; background:#FFFFFF; color:#408080; border:1px solid #DADADA; border-radius:2px; margin:0px auto 0px auto; padding:5px;}
.staff-site-config-btn {cursor:pointer; background:none; border:0; color:#7AA21B; margin:5px auto 5px auto; text-decoration:none; font-size:0.9rem;}

.topic-footer-reply-btn:hover, .private-footer-reply-btn:hover, .staff-delete-btn:hover, .create-topic-btn:hover, .private-compose-btn:hover, .private-delete-btn:hover, .staff-site-config-btn:hover {cursor:pointer; color:#577A9C;} /** this */

.pagination_link {padding:2px 2px 2px 2px; margin:0px auto 0px auto; color:#7AA21B;}
.pagination_link_active {padding:2px 3px 2px 2px; background:#FFFFFF; text-decoration:none; margin:0px auto 0px auto; border-radius:2px;}
.pagination-arrow-right {display:inline-block; width:0; height:0; border-style:solid; border-width:5px 0 5px 10px; border-color:transparent transparent transparent #A2CD5A; line-height:0px;}
.pagination-arrow-left {display:inline-block; width:0; height:0; border-style:solid; border-width:5px 10px 5px 0; border-color:transparent #A2CD5A transparent transparent; line-height:0px;}
.pagination-last, .pagination-first {display:inline-block;}

.search-header form, .wrapper form {padding:0; margin:0;}
.search-header form .search-input, .wrapper form .search-input {width:20%; background:#FFFFFF; color:#408080; border:1px solid #DADADA; border-radius:2px; padding:3px; outline-color:#7AA21B;}
.search-header form .search-btn, .wrapper form .search-btn {cursor:pointer; outline-color:#7AA21B; color:#408080; background:#FFFFFF; padding:3px; border:1px solid #DADADA; border-radius:2px;}
.search-header form .search-btn:hover, .wrapper form .search-btn:hover {cursor:pointer; color:#7AA21B;}
.search-content {text-align:left;}
.search-form {text-align:right;}

.shoutbox-header {background:#DADADA; color:#7AA21B; font-size:0.8rem; padding:5px; border:1px solid #DADADA;}
.shoutbox-content {background:#FFFFFF; text-align:left; font-size:0.8rem; color:#408080; word-wrap:break-word; padding:5px; border:1px solid #DADADA; border-top:none; height:120px; overflow:auto;}
.shoutbox-form {background:#DADADA; color:#7AA21B; font-size:0.8rem; margin:0px auto; border:1px solid #DADADA; padding:5px; border-top:none;}
.shoutbox-input {width:30%; background:#FFFFFF; color:#408080; border:1px solid #DADADA; border-radius:2px; padding:2px;}
.shoutbox-submit-btn {cursor:pointer; outline-color:#7AA21B; color:#408080; background:#FFFFFF; margin:0px auto; padding:2px; border:1px solid #DADADA; border-radius:2px;}
.shoutbox-submit-btn:hover {cursor:pointer; color:#7AA21B;}
